# ros2
ws_humble/src/*
!ws_humble/src/.gitkeep
ws_humble/build
ws_humble/install
ws_humble/log

# pool
repos/ros-humble/pool/main/*
!repos/ros-humble/pool/main/.gitkeep

# repos
Packages
Packages.gz
InRelease
Release

# script output
*.deb

# key
*.gpg
*.gpg.private

# vscode
.vscode

# hook
script/on-build-failed.bash

# rosdep
repos/rosdep/*
!repos/rosdep/.gitkeep
